In [1]:
import numpy as np
import pandas as pd

In [2]:
# Populate some mock data
data = {
    "yom": [1996, 2004, 2010, 2015, 2020],
    "yor": [2000, 2007, 2012, 2015, 2022],
    "num_pre_owners": [5, 2, 1, 1, 1],
    "mileage": [185000, 145000, 190000, 65000, 35000],
    "fuel_economy": [8, 15, 11, 10, 5],
    "number_accidents": [5, 2, 1, 0, 0],
    "vehicle_color": ["white", "blue", "white", "black", "grey"],
    "country_of_origin": ["japan", "thailand", "japan", "india", "germany"],
    "make": ["toyota", "toyota", "nissan", "suzuki", "benz"],
    "interior_condition": ["good", "good", "ok", "bad", "good"]
}

In [3]:
# Create dataframe
df = pd.DataFrame(data)

In [4]:
# View first few rows
df.head()

,yom,yor,num_pre_owners,mileage,fuel_economy,number_accidents,vehicle_color,country_of_origin,make,interior_condition
0,1996,2000,5,185000,8,5,white,japan,toyota,good
1,2004,2007,2,145000,15,2,blue,thailand,toyota,good
2,2010,2012,1,190000,11,1,white,japan,nissan,ok
3,2015,2015,1,65000,10,0,black,india,suzuki,bad
4,2020,2022,1,35000,5,0,grey,germany,benz,good

In [5]:
# Accessing a single row
df.iloc[0]
# df.loc[0]
# df[:1]

yom                     1996
yor                     2000
num_pre_owners             5
mileage               185000
fuel_economy               8
number_accidents           5
vehicle_color          white
country_of_origin      japan
make                  toyota
interior_condition      good
Name: 0, dtype: object

In [6]:
# Looping through rows
for index, row in df.iterrows():
    print(row)

yom                     1996
yor                     2000
num_pre_owners             5
mileage               185000
fuel_economy               8
number_accidents           5
vehicle_color          white
country_of_origin      japan
make                  toyota
interior_condition      good
Name: 0, dtype: object
yom                       2004
yor                       2007
num_pre_owners               2
mileage                 145000
fuel_economy                15
number_accidents             2
vehicle_color             blue
country_of_origin     thailand
make                    toyota
interior_condition        good
Name: 1, dtype: object
yom                     2010
yor                     2012
num_pre_owners             1
mileage               190000
fuel_economy              11
number_accidents           1
vehicle_color          white
country_of_origin      japan
make                  nissan
interior_condition        ok
Name: 2, dtype: object
yom                     2015
yor                     2015
num_pre_owners             1
mileage                65000
fuel_economy              10
number_accidents           0
vehicle_color          black
country_of_origin      india
make                  suzuki
interior_condition       bad
Name: 3, dtype: object
yom                      2020
yor                      2022
num_pre_owners              1
mileage                 35000
fuel_economy                5
number_accidents            0
vehicle_color            grey
country_of_origin     germany
make                     benz
interior_condition       good
Name: 4, dtype: object

In [7]:
def calculate_value(row):
    basic_value = 1_500_000

    # Add value based on yom
    if row["yom"] < 2000:
        basic_value += 200_000
    elif row["yom"] >= 2000 and row["yom"] <= 2010:
        basic_value += 500_000
    else:
        basic_value += 1_000_000

    # Add value based on previous owners
    if row["num_pre_owners"] == 1:
        basic_value += 500_000
    else:
        basic_value += 100_000

    # Add value based on mileage
    if row["mileage"] < 50_000:
        basic_value += 500_000
    elif row["mileage"] < 100_000 and row["mileage"] >= 50_000:
        basic_value += 200000
    elif row["mileage"] >= 100_000 and row["mileage"] < 150_000:
        basic_value += 100_000
    else:
        basic_value += 25_000

    return basic_value

In [8]:
calculate_value(df.iloc[0])

1825000

In [9]:
calculate_value(df.iloc[1])

2200000

In [10]:
def calculate_value_all_features(row):
    value = 1_500_000

    # Year of Manufacture
    if row["yom"] < 2000:
        value += 200_000
    elif 2000 <= row["yom"] <= 2010:
        value += 500_000
    else:
        value += 1_000_000

    # Number of Previous Owners
    if row["num_pre_owners"] == 1:
        value += 500_000
    else:
        value += 100_000

    # Mileage
    if row["mileage"] < 50_000:
        value += 500_000
    elif 50_000 <= row["mileage"] < 100_000:
        value += 200_000
    elif 100_000 <= row["mileage"] < 150_000:
        value += 100_000
    else:
        value += 25_000

    # Fuel Economy (lower is better)
    if row["fuel_economy"] <= 6:
        value += 400_000
    elif 6 < row["fuel_economy"] <= 10:
        value += 200_000
    else:
        value -= 100_000  # penalize poor fuel economy

    # Number of Accidents (penalize heavily)
    if row["number_accidents"] == 0:
        value += 300_000
    elif row["number_accidents"] <= 2:
        value += 100_000
    else:
        value -= 200_000

    # Vehicle Color — optional, minimal influence (white and black are more popular)
    if row["vehicle_color"].lower() in ["white", "black", "grey"]:
        value += 50_000

    # Country of Origin
    if row["country_of_origin"].lower() in ["germany", "japan"]:
        value += 300_000
    elif row["country_of_origin"].lower() == "india":
        value += 50_000
    else:
        value += 100_000

    # Make — reward premium brands
    if row["make"].lower() in ["benz", "bmw", "audi"]:
        value += 500_000
    elif row["make"].lower() in ["toyota", "nissan"]:
        value += 200_000
    else:
        value += 50_000

    # Interior Condition
    condition = row["interior_condition"].lower()
    if condition == "good":
        value += 200_000
    elif condition == "ok":
        value += 50_000
    elif condition == "bad":
        value -= 100_000

    # Year of Registration — newer registration adds value
    if row["yor"] >= 2020:
        value += 300_000
    elif 2010 <= row["yor"] < 2020:
        value += 100_000

    return value

In [11]:
calculate_value_all_features(df.iloc[0])

2575000

In [12]:
calculate_value_all_features(df.iloc[1])

2700000